In [2]:
import pandas as pd
import numpy as np

# Included dates

In [3]:
files = ['GDP.csv', 'FEDFUNDS.csv', 'LIBOR.csv', 'MORTGAGE30US.csv', 'real_user_cost.csv', 'unemployment_rate.csv']

In [14]:
gdp = pd.read_csv('indicator_data/GDP.csv')
fedf = pd.read_csv('indicator_data/FEDFUNDS.csv')
libor = pd.read_csv('indicator_data/LIBOR.csv')
mort = pd.read_csv('indicator_data/MORTGAGE30US.csv')
user_cost = pd.read_csv('indicator_data/real_user_cost.csv')
unemp = pd.read_csv('indicator_data/unemployment_rate.csv')
all_dates = list(gdp.DATE.values) + list(fedf.DATE.values) + list(libor.DATE.values) + list(mort.DATE.values) + list(user_cost.DATE.values) + list(unemp.DATE.values)

# unique dates

In [20]:
len(all_dates)

7632

In [22]:
def unique(all_dates): 
  
    # intilize a null list 
    unique_list = [] 
      
    # traverse for all elements 
    for x in all_dates: 
        # check if exists in unique_list or not 
        if x not in unique_list: 
            unique_list.append(x) 
    # return unique list
    return unique_list

In [23]:
unique_dates = unique(all_dates)

In [24]:
len(unique_dates)

5782

# Combined

In [30]:
#rework and left join
def combined(dates):
    l_comb = list()
    df = pd.read_csv('indicator_data/GDP.csv')
    files = ['FEDFUNDS.csv', 'LIBOR.csv', 'MORTGAGE30US.csv', 'real_user_cost.csv', 'unemployment_rate.csv']
    for file in files:
        temp = pd.read_csv('indicator_data/'+file)
        trim_temp = temp[temp.DATE.isin(dates)].reset_index(drop=True)
        df = df.merge(trim_temp, on='DATE', how='left')
        
    #output = pd.concat(l_comb, axis=1, sort=True)
    return df

In [31]:
combined_ind = combined(unique_dates)

In [32]:
combined_ind

          DATE        GDP  FEDFUNDS USD1MTD156N  MORTGAGE30US   OCM1P  UNRATE
0   1998-01-01   8866.480       NaN         NaN           NaN  0.0585     4.6
1   1998-04-01   8969.699       NaN     5.68750           NaN  0.0589     4.3
2   1998-07-01   9121.097      5.54     5.66016           NaN  0.0591     4.5
3   1998-10-01   9293.991      5.07     5.37500           NaN  0.0556     4.5
4   1999-01-01   9417.264      4.63           .           NaN  0.0531     4.3
..         ...        ...       ...         ...           ...     ...     ...
82  2018-07-01  20749.752      1.91         NaN           NaN     NaN     3.9
83  2018-10-01  20897.804      2.19     2.26513           NaN     NaN     3.8
84  2019-01-01  21098.827      2.40           .           NaN     NaN     4.0
85  2019-04-01  21340.267      2.42     2.49338           NaN     NaN     3.6
86  2019-07-01  21525.819      2.40     2.38775           NaN     NaN     3.7

[87 rows x 7 columns]

In [33]:
combined_ind.columns = ['DATE', 'GDP', 'FEDFUNDS', 'LIBOR', 'MORTGAGE30US', 'REAL_USER_COST', 'UNEMPLOYMENT_RT']

# Output

In [58]:
combined_ind.to_csv('combined_indicators.csv')